* {
  margin: 0;
  padding: 0;
}
#viewer {
  display: flex;
  background: #121212;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

CornerstoneViewport {
  width: 1000px !important;
}

.form-control option {
  padding: 20px;
  color: aqua;
  margin: 20px;
}
